@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import "variables";
@import "mixins";
@import "helpers";
@import "global";

/* -----------------------------------------
	Navbar
----------------------------------------- */

// Fixed Nav

.navbar {
	background: rgba($brandBlue, 0.95);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

	.navbar-brand {
		display: inline-block;
		height: auto;
		border: none;
		vertical-align: top;

		.logo {
			width: 33px;
			object-fit: contain;
		}
	}

	.navbar-nav {

		a {
			border: none;
			font-family: $secondary-font;
			font-size: 0.941em;
			color: $brandCremeText;
			letter-spacing: 2px;
			text-transform: uppercase;

			&:hover {
				background-color: transparent;
				color: $brandGoldOnBlue;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		text-align: center;

		.navbar-brand {
			float: none;
			padding-top: 17px;
			padding-bottom: 10px;
		}

		.navbar-nav {
			margin: 0 -15px;

			li {
				display: inline-block
			}

			a {
				padding: 10px 10px;
			}
		}
	}

	@media (min-width: $screen-sm) {

		>.container .navbar-brand,
		>.container-fluid .navbar-brand {
			margin-left: 0;
		}

		.navbar-brand {

			.logo {
				width: 62px;
			}
		}

		.navbar-nav {
			margin-top: 10px;
		}
	}
}

/* -----------------------------------------
	Ancillary Items
----------------------------------------- */

.photo-circle {
	margin: 0 auto;
	border-radius: 50%;
}

.bg-cover {
	background-position: center;
	background-size: cover;
}

.instagram-feed {

	.pic {
		position: relative;
	}

	@media (max-width: $screen-xs-max) {
		.pic {
			background: red;
			max-width: 480px;
			margin: 0 auto;

			img {
				width: 100%;
			}
		}
	}
}

.icon-disc {
	position: absolute;
	bottom: 20px;
	right: 20px;
	display: inline-block;
	width: 73px;
	height: 73px;
	background: rgba($brandGold, 0.9);
	border: none;
	border-radius: 50%;
	font-size: 45px;
	line-height: 73px;
	color: $brandCremeText;
	text-align: center;

	&:hover {
		background: rgba($brandBlue, 0.9);
		color: $brandCremeText;
	}
}

.map-box {

	iframe {
		width: 100%;
		height: 440px;
	}
}

.eyebrow {
	font-family: $secondary-font;
	font-size: 0.941em;
	line-height: 1.250;
	color: $brandGold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

a.annotation {
	padding: 2px 11px;
	background: $brandGoldLink;
	border-bottom: none;
	border-radius: 4px;
	color: $brandBlueText;
	white-space: nowrap;

	&:hover,
	&:focus {
		background: $brandGold;
		color: $brandCremeText;
	}

	&:after {
		content: ' ›';
	}
}

.pull-quote {
	border-left: 1px solid $brandGoldLine;
	font-size: 1.412em;
	line-height: 1.458;
	color: $brandTeal;
	font-style: italic;

	@media (min-width: $screen-md) {
		float: right;
		width: 40%;
		margin: 0 -20% 40px 40px;
		padding: 0 0 0 40px;
	}
}

.role-box {
	@extend .mb30;
	text-align: center;

	.icon {

		img {
			width: 80px;
			//height: 96px;
			object-fit: contain;
		}
	}

	.role {
		margin: 0;
		font-size: 1.412em;
	}

	@media (min-width: $screen-md) {
		.icon {
			display: table-cell;
			vertical-align: top;
		}

		.role {
			display: table-cell;
			vertical-align: middle;
			padding-left: 10px;
		}
	}

	@media (min-width: $screen-lg) {
		.icon {

			img {
				width: 100px;
			}
		}

		.role {
			font-size: 1.647em;
		}
	}
}

.knowledge-box {
	@extend .mb30;

	img {
		display: block;
		margin: 0 auto;
		//width: 100px;
		height: 60px;
		object-fit: contain;
	}

	.title {
		font-size: 1.176em;
		text-align: center;
	}

}

.experience-box {
	text-align: center;

	.upper {
		//@extend .mb50;
	}

	.icon {
		width: 100px;
		height: 100px;
		object-fit: contain;
	}

	.title {
		@extend .mt30;
		margin-bottom: 20px;
		font-size: 2.118em;
	}

	@media (max-width: $screen-xs-max) {
		margin-bottom: 60px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-sm) {
		.upper {
			margin-bottom: 50px;
		}

		.title {
			margin-bottom: 40px;
		}
	}

	@media (min-width: $screen-md) {
		.title {
			font-size: 2.588em;
		}
	}
}

.team-box {
	@extend .mb60;

	.name {
		@extend .mt40;
		font-size: 1.647em;
		text-align: center;

		.annotation {
			background: transparent;

			&:hover,
			&:focus {
				background: $brandGoldLink;
				color: $brandBlueText;
			}

			&:hover:after {
				content: ' ›';
			}
		}
	}

	.position {
		@extend .mb20;
		text-align: center;
		text-transform: none;
	}

	.bio {
		font-size: 0.824em;
	}
}

.promo-box {
	@extend .mb50;
	padding: 0;

	&:last-child {
		@extend .mb0;
	}

	&.border-creme {
		border: 1px solid $brandCremeText;
	}

	.copy-box {
		padding: 50px 40px;

		.eyebrow {
			@extend .mb10;
		}

		.title {
			@extend .mt0;
			font-size: 2.588em;
		}
	}

	.image-box {
		background-position: center;
		background-size: cover;
	}

	@media (max-width: $screen-xs-max) {
		.image-box {
			min-height: 200px;
		}
	}

	@media (min-width: $screen-sm) {
		.copy-box {

			.title {
				font-size: 3.412em;
			}

			.lead {
				font-size: 1.118em;
				line-height: 1.526;
			}
		}
	}
}

.help-box {
	@extend .mb40;
	border-bottom: 1px solid $brandBlueLine;

	> div {
		@extend .pb20;
	}

	&:last-child {
		@extend .mb0;
		border: none;

		> div {
			@extend .pb0;
		}
	}

	.title {
		font-size: 2.118em;
	}

	.eyebrow {
		@extend .mb10;
		font-size: 1.118em;
	}

	.chevron-list {
		padding-left: 0;
		list-style: none;
		font-size: 0.882em;
		font-weight: $semibold;
		line-height: 1.733;
		letter-spacing: 2px;

		li {
			position: relative;
			padding-left: 10px;

			&::before {
				content: '›';
				position: absolute;
				left: 0;
				font-family: $secondary-font;
				font-size: 25px;
				font-weight: $regular;
				line-height: 1;
				color: $brandGoldOnBlue;
			}
		}
	}

	@media (min-width: $screen-lg) {
		.title {
			font-size: 2.588em;
		}
	}
}

.process-box {
	border: 1px solid $brandGold;

	.lower {
		padding: 10px;

		.eyebrow {
		}

		.desc {
			font-size: 0.882em;
			line-height: 1.267;
		}
	}

	@media (max-width: $screen-xs-max) {
		.lower {

			.eyebrow {
				margin-bottom: 10px;
			}
		}
	}

	@media (min-width: $screen-sm) {
		.lower {

			.eyebrow {
				display: table-cell;
				vertical-align: middle;
				width: 30%;
				padding-right: 10px;
				border-right: 1px solid $brandGoldLine;
				text-align: center;
			}

			.desc {
				display: table-cell;
				vertical-align: top;
				padding-left: 10px;
			}
		}
	}
}

.process-carousel {

	&.owl-theme .owl-dots .owl-dot.active span,
	&.owl-theme .owl-dots .owl-dot:hover span {
		background: $brandGold;
	}

	&.owl-theme .owl-dots .owl-dot span {
		width: 20px;
		height: 20px;
		background: $brandGoldLine;
	}
}

.client-list-box {
	margin-bottom: 40px;
	padding-right: 40px;
	padding-left: 40px;

	p, ul {
		font-size: 0.882em;
		line-height: 1.267;
	}

	ul {
		padding-left: 0;
		list-style: none;

		li {
			margin-bottom: 15px;
		}

		a {
			border-width: 2px;

			&:after {
				content: ' ›';
			}
		}
	}

	@media (min-width: $screen-sm) {
		margin-bottom: 60px;
	}
}

.sidebar {
	margin-top: 40px;

	.body {
		font-size: 0.882em;
		line-height: 1.533;
	}

	.quote {
		font-size: 0.882em;
		line-height: 1.533;
	}

	.name {
		@extend .mb0;
		font-family: $secondary-font;
		font-size: 0.941em;
		line-height: 1.313;
		text-transform: uppercase;
	}

	.eyebrow.undercase {
		font-size: 0.824em;
		letter-spacing: normal;
		text-transform: none;
	}

	.large-stat {
		@extend .mb10;
		font-family: $heading-font;
		font-size: 3.412em;
		line-height: 1;
	}

	.callout {
		font-size: 1.412em;
		line-height: 1.458;
		color: $brandTeal;
		font-style: italic;
	}

	@media (max-width: $screen-xs-max) {
		padding-top: 20px;
		border-top: 1px solid $brandGoldLine;
		text-align: center;
	}

	@media (min-width: $screen-sm) {
		margin-left: 20px;
		padding-left: 60px;
		border-left: 1px solid $brandGoldLine;
	}
}

.bg-primary {

	.sidebar {
		border-color: $brandBlueLine;
	}

	a.annotation {
		background: $brandBlueAnnot;
		color: $brandCremeText;

		&:hover,
		&:focus {
			background: $brandGold;
		}
	}
}

.bg-secondary {

	a.annotation {
		background: $brandTeal;
		color: $brandCremeText;

		&:hover,
		&:focus {
			background: $brandBlue;
		}
	}
}

@media (min-width: $screen-sm) {

	.border-between > [class*='col-']:before {
		background: $brandGoldLine;
		bottom: 0;
		content: " ";
		left: 0;
		position: absolute;
		width: 1px;
		top: 0;
	}

	.border-between > [class*='col-']:first-child:before {
		display: none;
	}
}

/* -----------------------------------------
	Header
----------------------------------------- */

.header {
	position: relative;
	padding: 150px 0 80px 0;
	background: $theme-primary;

	&.page-title {
		text-align: center;
		background-position: center;
		background-size: cover;
	}

	&.header-home {
		padding-bottom: 0;
		text-align: center;

		.logo {
			margin-bottom: 40px;
			width: 161px;
			height: 105px;
			object-fit: contain;
		}

		.title {
			font-family: $secondary-font;
			font-size: 1.529em;
			color: $brandGoldOnBlue;
		}
	}

	&.case-study {

		.title {
			font-size: 4.706em;
			line-height: 1;
		}

	}

	a {
		padding: 2px 11px;
		background: $brandBlueAnnot;
		border-bottom: none;
		border-radius: 4px;
		color: $brandCremeText;
		white-space: nowrap;

		&:hover,
		&:focus {
			background: $brandGold;
		}

		&:after {
			content: ' ›';
		}
	}

	.eyebrow {
		color: $brandGoldOnBlue;
	}

	.title {
		@extend .mb30;
		line-height: 1.235;
		color: $brandCremeText;
	}

	.description {
		font-family: $secondary-font;
		font-size: 1.529em;
		line-height: 1.24;
		color: $brandCremeText;
	}

	@media (max-width: $screen-sm-max) {
		padding-top: 200px;
	}

	@media (min-width: $screen-md) {
		&.header-home {

			.logo {
				margin-bottom: 60px;
			}

			.title {
				font-size: 2.000em;
			}
		}

		.description {
			font-size: 2em;
		}
	}
}

/* -----------------------------------------
	Sections
----------------------------------------- */

.content-container {
	//padding-bottom: 60px;
}

.content-media-1,
.content-media-2 {

	.row {
		margin-right: -5px;
		margin-left: -5px;

		 > [class*='col-'] {
			margin-bottom: 10px;
			padding-right: 5px;
			padding-left: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	img {
		margin: 0 auto;
	}
}

section {

	&.divider {
		border-bottom: 1px solid $brandBlueText;
	}

	&.overflow-hidden {
		overflow: hidden;
	}

	@media (min-width: $screen-md) {
		&.overflow-hidden {
			overflow: hidden;
			padding-top: 0;
		}
	}
}

.section-divider {
	margin-top: 0;
	margin-bottom: 40px;

	@media (min-width: $screen-sm) {
		margin-left: -15px;
		margin-right: -15px;
	}
}

.articles {

	.article-container {
		@extend .mb40;
		@extend .pb40;
		border-bottom: 1px solid $brandGoldLine;

		&:last-child {
			border: none;
		}
	}

	.title {
		@extend .mb20;
		font-size: 2.118em;

		a {
			border: none;
		}
	}

	.btn {
		margin-top: 8px;

	}

	.desc {
		margin-bottom: 0;
	}

	@media (max-width: $screen-xs-max) {
		figure {
			margin: 0 auto;
			margin-bottom: 20px;
			max-width: 480px;

			img {
				margin: 0 auto;
			}
		}
	}

	@media (min-width: $screen-md) {
		.title {
			font-size: 2.588em;
		}
	}
}

.featured-article {
	background-position: center;
	background-size: cover;

	.subtitle {
		font-family: $secondary-font;
		font-size: 15px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $brandBlue;
	}

	.title {
		@extend .mb20;
		color: $brandCremeText;

		a {
			color: $brandCremeText;
		}
	}

	.desc {
		font-size:  19px;
		line-height: 1.526;
		color: $brandCremeText;
	}

	.btn {
		float: right;
		margin-top: 8px;
		margin-left: 50px;
	}
}

/* -----------------------------------------
	Post - Global
----------------------------------------- */

.post {

	figure.full-width-image {
		@extend .mt60;
		@extend .mb60;

		img {
			@extend .mb20;
		}

		figcaption {
			padding-left: 20px;
			border-left: 2px solid $brandGoldLine;
			font-size: 0.882em;
			line-height: 1.533;
			color: $brandGold;
		}
	}
}

/* -----------------------------------------
	Post - Single
----------------------------------------- */

.post-single {

	.author {
		font-family: $secondary-font;
		font-size: 0.882em;
		color: $brandGold;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.subtitle {
		@extend .mb30;
		font-size: 2.588em;
	}

}

/* -----------------------------------------
	Projects
----------------------------------------- */

.featured-projects {
	padding-top: 0;
	padding-bottom: 0;

	.project-container {
		position: relative;
		height: 300px;
		background-position: center;
		background-size: cover;

		img {
			display: block;
			width: 100%;
			height: auto;
			backface-visibility: hidden;
		}

		/* not going to use since images will be produced w/ color
		.overlay {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgb(243, 54, 75);
			opacity: 0.7;
		}
		*/

		.middle {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			width: 80%;
			text-align: center;
		}

		.title {
			margin-bottom: 25px;
			font-size: 2.118em;
			color: $brandCremeText;
		}
	}

	@media (min-width: $screen-md) {
		.project-container {
			height: 405px;

			.title {
				font-size: 2.941em;
			}
		}
	}
}

.case-studies {

	.project-container {
		height: 395px;

		.overlay {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: -moz-linear-gradient(top, rgba($brandBlue,1) 0%, rgba($brandBlue,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba($brandBlue,1) 0%,rgba($brandBlue,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba($brandBlue,1) 0%,rgba($brandBlue,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b5c', endColorstr='#00003b5c',GradientType=0 ); /* IE6-9 */
		}
	}
}

/* -----------------------------------------
	Case Studies
----------------------------------------- */

.base-gold {

	.case-study-intro,
	.testimonial-block  {
		@extend .bg-secondary;
	}

	.factoid {
		@extend .text-gold;
	}
}

.base-teal {

	.case-study-intro,
	.testimonial-block  {
		@extend .bg-teal;
	}

	.factoid {
		@extend .text-teal;
	}

	.bg-primary {

		.factoid {
			color: $brandCremeText;
		}
	}
}

.base-red {

	.case-study-intro,
	.testimonial-block  {
		@extend .bg-red;
	}

	.factoid {
		@extend .text-red;
	}

	.bg-primary {

		.factoid {
			color: $brandCremeText;
		}
	}
}

.case-study-intro {

	.lead {
		font-size: 1.824em;
		line-height: 1.258;
	}

	.eyebrow {
		color: $brandCremeText;
	}

	.whatwedid {
		padding-left: 0;
		list-style: none;
		font-size: 0.941em;
		line-height: 1.375;

		li {
			margin-bottom: 10px;
		}
	}
}

.factoid {
	font-size: 1.412em;
	line-height: 1.458;
	font-style: italic;
}

.testimonial-block {
	padding: 90px 0;
	text-align: center;

	.quote {
		font-family: $secondary-font;
		font-size: 1.824em;
		line-height: 1.258;
	}

	.eyebrow {
		color: $brandCremeText;
	}
}

.next-project {
	position: relative;
	padding-bottom: 0;
	background-position: center;
	background-size: cover;

	.row {
		position: relative;
		border-bottom: 1px solid $brandBlueLine;
	}

	.title {
		margin-bottom: 60px;

	 a {
			font-size: 2.059em;
			color: $brandCremeText;

			&:hover,
			&:focus {
				color: $brandGoldOnBlue;
			}

			&:after {
				content: ' ›';
			}
		}
	}

	.overlay,
	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: -moz-linear-gradient(top, rgba($brandBlue,0) 0%, rgba($brandBlue,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba($brandBlue,0) 0%,rgba($brandBlue,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba($brandBlue,0) 0%,rgba($brandBlue,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003b5c', endColorstr='#003b5c',GradientType=0 ); /* IE6-9 */
	}
}

/* -----------------------------------------
	Goodstock
----------------------------------------- */

.goodstock-bird-logo {
	position: absolute;
	right: 20%;
	bottom: 0;
	width: 90px;
	height: 94px;
}

.goodstock-client-list {
	padding: 0;

	ul {
		-webkit-columns: 3;
		-moz-columns: 3;
		columns: 3;
	}

	p, ul {
		font-size: 0.882em;
		line-height: 1.267;
	}

	ul {
		padding-left: 0;
		list-style: none;

		span {
			display: inline-block;
			margin-bottom: 15px;
		}
	}
}

.partner-list {

	ul {
		webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;

		li {
			padding-top: 5px;
			padding-bottom: 20px;
			border-top: 1px solid $brandBlueLine;
			@extend .eyebrow;
			font-size: 1.059em;
			color: $brandGoldOnBlue;

			a {
				border: none;
				color: $brandGoldOnBlue;

				&:hover,
				&:focus {
					color: $brandCremeText;
				}

				&:after {
					content: ' ›';
				}
			}
		}
	}
}

/* -----------------------------------------
	Careers
----------------------------------------- */

.benefit-list {
	position: relative;
	padding-right: 30px;
	padding-left: 30px;
	border-right: 1px solid $brandGoldLine;

	&:last-child {
		border: none;
	}

	.number {
		position: absolute;
		top: 0;
		left: 15%;
		font-size: 120px;
		line-height: 1;
		color: $brandGoldLine;;
	}

	.title {
		position: relative;
		margin-top: 70px;
		margin-bottom: 30px;
		font-size: 1.529em;
		line-height: 1.192;
	}

	.desc {
		margin-bottom: 30px;
		font-size: 0.882em;
		line-height: 1.533;
	}

	ul {
		padding-left: 0;
		list-style: none;

		li {
			padding-top: 5px;
			padding-bottom: 15px;
			border-top: 1px solid $brandGoldLine;
			@extend .eyebrow;
			font-size: 1.059em;
		}
	}
}

.current-opportunities {
	margin-bottom: 90px;

	.title {
		margin-bottom: 30px;
		font-size: 58px;
	}
}

/* -----------------------------------------
	Contact
----------------------------------------- */

.contact-bar {
	font-size: 0.824em;
	line-height: 1;
	text-align: center;

	> li {
		padding-right: 12px;
		padding-left: 10px;
		border-right: 1px solid $brandBlue;

		&:last-child {
			border-right: none;
		}
	}

	a {
		border-width: 2px;
	}
}

/* -----------------------------------------
	Footer
----------------------------------------- */

.footer {
	padding: 70px 0;
	background: $theme-primary;
	color: $brandCremeText;

	h2 {
		@extend .mb20;
		font-size: 2.588em;
	}

	.bottom-bar {
		margin-top: 70px;
		padding-top: 30px;
		border-top: 1px solid $brandBlueLine;
		font-size: 0.824em;
		line-height: 1.429;
		text-align: center;

		> li {
			padding-right: 12px;
			padding-left: 10px;
			border-right: 1px solid $brandCremeText;

			&:last-child {
				border-right: none;
			}
		}

		a {
			border-bottom: 1px solid $brandGoldOnBlue;
			color: $brandCremeText;

			&:hover,
			&:focus {
				border-color: $brandTeal;
			}
		}
	}

	@media (max-width: $screen-sm-max) {

		h2 {
			font-size: 2.118em;
		}

		.profile {
			margin-top: 30px;
		}

		.bottom-bar {
			margin-top: 30px;
		}
	}
}
